# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment files
.env
.venv/
venv/
ENV/
env.bak/
*.env

# VSCode
.vscode/

# macOS/Linux
.DS_Store
Thumbs.db

# Logs and outputs
logs/
*.log

# MLflow artifacts
mlruns/
mlartifacts/

# Prefect
.prefect/

# Docker
*.pid
*.sock

# Python package files
*.egg-info/
dist/
build/
*.egg
.eggs/

# Coverage reports
htmlcov/
.coverage

# Dependency locking
poetry.lock
Pipfile.lock

# models
models/

# Test cache and reports
.pytest_cache/
.cache/
*.cover
*.coverage
coverage.xml
test-results/
nosetests.xml
pytestdebug.log

# Batch/test/monitoring artifacts
batch_data/report/

# Batch/test/monitoring artifacts
batch_data/report/
batch-data/report/students/*.csv
batch-data/report/students/*.json
batch-data/report/evidently_metrics.csv
